<h1>@ViewBag.title</h1>

<form action="/Search/Results">
    <h2>Search by:</h2>

    <p>
        @foreach (KeyValuePair<string, string> column in ViewBag.columns)
        {
            <span>
                <input type="radio"
                       name="searchType"
                       id="@column.Key"
                       value="@column.Key" 
                       checked="@column.Key == 'all''"/>
                <label for="@column.Key">@column.Value</label>
            </span>
        }
    </p>

    <p>
        <label for="searchTerm">Keyword:</label>
        <input type="text" name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
</form>

<hr />

@if (ViewBag.jobs != null)
{

    <h3>@ViewBag.jobs.Count Result(s)</h3>
    <table> 
        <tr> 
            <th>Name</th>
            <th>Employer</th>
            <th>Location</th>
            <th>Position Type</th>
            <th>Core Competency</th>
        </tr>
        <tr>
            @foreach (Dictionary<string, string> jobDicto in ViewBag.jobs)
            {
                <tr>
                @foreach (KeyValuePair<string, string> job in jobDicto)
                {                
                        <td>@job.Value</td>
                }
                </tr>
            }
        </tr>
    </table>
    // TODO #2 - Loop over jobs dictionary and display all job fields for
}